#id_email {
 width: 300px;
}

#id_person_name {
  width: 300px;
}

.rosterimg {
  float: left;
    margin: 5px;
 }

 .rosterimg rostertxt1 span {
   padding-top: 50px;
   vertical-align:top;
  }
 .rosterimg rostertxt1 rostertxt2 span {
  padding-top: 50px;
  vertical-align:top;
 }

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: blue;
}

.form-inline .form-group input {
    width:10px;
}

/* .navbar-nav > li > .dropdown-menu { background-color: #FF0000; }
.navbar-nav > li > .dropdown-menu { background-color: #e7e7e7;  }
.navbar-nav > li > .dropdown-menu a{ color: #555555;  }
*/

.btn-primary.active,
.btn-primary:active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #A30000;
    border-color: #A30000;
}
